
<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>SunFounder Dragit</title>
		<link rel="shortcut icon" href="{% static 'SunFounder_LOGO_small.png' %}">
		<script type="text/javascript" src="{% static 'js/morphic.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/widgets.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/blocks.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/threads.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/objects.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/gui.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/paint.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/lists.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/byob.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/tables.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/xml.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/store.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/locale.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/cloud.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/sha512.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/FileSaver.min.js' %}"></script>
		<script type="text/javascript">
			var world;
			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();
				new IDE_Morph().openIn(world);
        loop();
			};
			function loop() {
        requestAnimationFrame(loop);
				world.doOneCycle();
			}
		</script>
	</head>
	<body style="margin: 0;">
		<canvas id="world" tabindex="1" style="position: absolute;" />
	</body>
</html>
